.btn:hover {
  transform: scale(0.95);
}

.date {
  font-size: 20px;
  font-weight: bold;
}

div {
  text-align: center;
  align-items: center;
}

#cityList {
  font-size: 20px;
}

#search {
  margin: 10px 0;
}

#busca {
  align-items: flex-start;
}

.green {
  display: inline;
  margin: 5px;
  padding: 5px;
  background-color: green;
  color: white;
}
.yellow {
  display: inline;
  margin: 5px;
  padding: 5px;
  background-color: yellow;
}
.orange {
  display: inline;
  margin: 5px;
  padding: 5px;
  background-color: orange;
}
.red {
  display: inline;
  margin: 5px;
  padding: 5px;
  background-color: red;
}
.violet {
  display: inline;
  margin: 5px;
  padding: 5px;
  background-color: violet;
}

#before5 {
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#deleteCity {
  margin-bottom: 10px;
}

.showCityAgain {
  margin: 5px 0;
}
