.btn:hover {
  transform: scale(0.95);
}

.date {
  font-size: 20px;
  font-weight: bold;
}

div {
  text-align: center;
  align-items: center;
}

#cityList {
  font-size: 20px;
}

#search {
  margin: 10px 0;
}
